<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>


    <title>언론사별 주요뉴스</title>

    <style>
        * {
            /*font-family: "Stylish", sans-serif;*/
        }

        .wrap {
            width: 1200px;
            margin: auto;
        }

        .headpart {
            margin-top: 20px;
        }

        .haednews {
            float: left;
            width: 850px;
            margin-bottom: 30px;
        }

        .headline {
            height: 350px;
        }

        .headline_img {
            height: 350px;
        }

        .headline_list {
            float: right;
            width: 330px;
            margin-top: 10px;
        }

        .bodypart {
        }

        .navibar {
            clear: both;
            margin-bottom: 5px;
        }
        .list_box {
            float: left;
            width: 400px;
            padding-right: 20px;
            border-radius: 3px;
            margin-bottom: 20px;
        }

        .list_img {
            width: 80px;
            height: 80px;
            border-radius: 5px;
        }

        .ellipsis {
            width: 230px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .ellipsis2 {
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .logo_img {
            width: 26px;
            height: 26px;
            margin-right: 10px;
        }
        a:link {
            color: black;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
        a:visited {
            color: black;
            text-decoration: none;
        }
    </style>

    <script>
        $(document).ready(function () {
            showArticles();
           // getBookmark();
            showTopArticles();
            showHeadlineActicles();
            clickNaviHome();
        });

        function getBookmark(){
            $.ajax({
                type: "GET",
                url: "/bookmark",
                data: {},
                success: function (response) {
                    let bookmark = response['bookmark']
                    let bookmarkid
                    for(let i = 0; i < bookmark.length; i++){
                        let company_name = bookmark[i]['company_name']
                        let company_logo = bookmark[i]['company_logo']

                        if (i % 5 == 0) {
                            bookmarkid = 'bookmark-box' + i;
                            let temp_html = `<div class="list_box">
                                                <div class="input-group-text card-header">
                                                    <div>
                                                        <img class="logo_img" src="${company_logo}">
                                                        <a href="#">
                                                            <span onclick="clickBookmark('${company_name}')" class="fw-bold" style="font-size: 20px">${company_name}</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ol id="${bookmarkid}" class="list-group list-group-numbered">
                                                </ol>
                                            </div>`
                            $('#bookmark-box').append(temp_html)
                        }

                        let article_url = bookmark[i]['article_url']
                        let article_title = bookmark[i]['article_title']
                        let img_url = bookmark[i]['img_url']
                        let time_ago = bookmark[i]['time_ago']


                        let temp_html = `<li class="list-group-item d-flex justify-content-between align-items-start">
                                              <div>
                                                <a onclick="clickArticle('${article_url}')" target="_blank" href="${article_url}" class="ellipsis">
                                                    ${article_title}
                                                </a>
                                                <p><small class="text-muted">${time_ago}</small></p>
                                              </div>
                                              <img class="list_img" src="${img_url}">
                                         </li>`
                        $('#'+bookmarkid).append(temp_html)
                    }
                }
            })
        }
        function showArticles() {
            $.ajax({
                type: "GET",
                url: "/article",
                data: {},
                success: function (response) {
                    let news = response['all_news']
                    let bookmarks = response['bookmark']
                    let listid
                    let bookmark_list = []
                    for (let i = 0; i < bookmarks.length; i++){
                        bookmark_list.push(bookmarks[i]['company_name'])
                    }
                    for (let i = 0; i < news.length; i++) {
                        let company_name = news[i]['company_name']
                        let company_logo = news[i]['company_logo']
                        if (i % 5 == 0) {
                            listid = 'list-box' + i;
                            let temp_html = `<div class="list_box">
                                                <div class="input-group-text card-header">
                                                    <div>
                                                        <img class="logo_img" src="${company_logo}">
                                                        <a href="#">
                                                            <span onclick="clickBookmark('${company_name}')" class="fw-bold" style="font-size: 20px">${company_name}</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ol id="${listid}" class="list-group list-group-numbered">
                                                </ol>
                                            </div>`
                            $('#lists-box').append(temp_html)

                            if(bookmark_list.includes(company_name)){
                                bookmarkid = 'bookmark-box' + i;
                                let temp_html = `<div class="list_box">
                                                <div class="input-group-text card-header">
                                                    <div>
                                                        <img class="logo_img" src="${company_logo}">
                                                        <a href="#">
                                                            <span onclick="clickBookmark('${company_name}')" class="fw-bold" style="font-size: 20px">${company_name}</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ol id="${bookmarkid}" class="list-group list-group-numbered">
                                                </ol>
                                            </div>`
                                $('#bookmark-box').append(temp_html)
                            }
                        }
                        let article_url = news[i]['article_url']
                        let article_title = news[i]['article_title']
                        let img_url = news[i]['img_url']
                        let time_ago = news[i]['time_ago']

                        let temp_html = `<li class="list-group-item d-flex justify-content-between align-items-start">
                                              <div>
                                                <a onclick="clickArticle('${article_url}')" target="_blank" href="${article_url}" class="ellipsis">
                                                    ${article_title}
                                                </a>
                                                <p><small class="text-muted">${time_ago}</small></p>
                                              </div>
                                              <img class="list_img" src="${img_url}">
                                         </li>`
                        $('#'+listid).append(temp_html)
                        if(bookmark_list.includes(company_name))
                            $('#'+bookmarkid).append(temp_html)
                    }
                }
            })
        }
        function showTopArticles() {
            $.ajax({
                type: "GET",
                url: "/article/views",
                data: {},
                success: function (response) {
                    let top_news = response['top_views']

                    for (let i = 0; i < top_news.length; i++) {
                        let article_url = top_news[i]['article_url']
                        let article_title = top_news[i]['article_title']
                        let views = top_news[i]['view']
                        let article_views = views + ' views'
                        listid = 'list-box' + i;
                        let temp_html = `<li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div>
                                                <a onclick="clickArticle('${article_url}')" target="_blank" href="${article_url}" class="ellipsis2">
                                                    ${article_title}
                                                </a>
                                            </div>
                                            <span class="badge bg-primary rounded-pill">${article_views}</span>
                                        </li>`
                        $('#top_views').append(temp_html)

                    }
                }
            })
        }
        function showHeadlineActicles() {
            $.ajax({
                type: "GET",
                url: "/article/headline",
                data: {},
                success: function (response) {
                    let headline_news = response['haedline_news']

                    for (let i = 0; i < headline_news.length; i++) {
                        let src_url = headline_news[i]['src_url']
                        let img_url = headline_news[i]['img_url']
                        let title = headline_news[i]['title']
                        let temp_html
                        if(i == 0){
                            temp_html = `<div class="carousel-item active">
                                            <a href="${src_url}" target="_blank">
                                                <img src="${img_url}" class="d-block w-100 headline_img">
                                                    <div class="carousel-caption d-none d-md-block">
                                                    <h5>${title}</h5>
                                                </div>
                                            </a>
                                        </div>`
                        }else{
                            temp_html = `<div class="carousel-item">
                                            <a href="${src_url}" target="_blank">
                                                <img src="${img_url}" class="d-block w-100 headline_img">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>${title}</h5>
                                                </div>
                                            </a>

                                        </div>`
                        }
                        $('#headline_news').append(temp_html)

                    }
                }
            })
        }
        function clickArticle(article_url) {
            $.ajax({
                type: "POST",
                url: "/article/views",
                data: {'article_url':article_url},
                success: function (response) {
                    window.location.reload(); // 새로고침
                }
            })
        }
        function clickBookmark(company_name) {
            console.log(company_name)
            $.ajax({
                type: "POST",
                url: "/bookmark",
                data: {'company_name':company_name},
                success: function (response) {
                    alert(response["msg"]);
                }
            })
            window.location.reload();
        }
        function clickNaviHome() {
            $('#bookmark-box').hide();
            $('#lists-box').show();
        }
        function clickNaviBookmark() {
            $('#bookmark-box').show();
            $('#lists-box').hide();
        }
    </script>
</head>

<body>
<div class="wrap">
    <div class="headpart">
        <div class="haednews">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                </div>
                <div id="headline_news" class="carousel-inner headline" data-ride="carousel">

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="headline_list">
            <ol id="top_views" class="list-group list-group-numbered">

            </ol>
        </div>
    </div>

    <div class="navibar">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button onclick="clickNaviHome()" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button onclick="clickNaviBookmark()" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Bookmark</button>
            </li>
        </ul>
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="lists-box" class="bodypart">

            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div id="bookmark-box" class="bodypart">

            </div>
        </div>

    </div>
</div>


</body>

</html>